#root, html{
  background: url(./assets/woodpanel.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.album-container {
  width: 80vw;
}
.album-row {
  margin-top: 50px;
}

.dropDown-row {
  margin-top: 100px;
}

.modal-content {
  width: 58vw;
}

.modal-dialog {
  margin-left: 20%;
}


